body{
    color: white;
    background-color: cornflowerblue;
}

.heading
{
    width: 80%;
    font-size: 22px;
}

#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
}

#selfie_image
{
    border: 2px dashed black;
    width: 350px;
    height: 275px;
}

#result_object_name  , #result_object_accuracy
{
  color: yellow;
}

.name_of_objects
{
    color: red;
}